<nav class="navbar bg-dark">
  <div class="container-fluid d-flex align-items-center">
    <div class="logo-wrapper">
      <img class="logo" src="assets/img/DataNimbus_Logo_Blue.svg" alt="Logo">
    </div>
    <h5 class="navbar-brand text-white m-0">Data.Stack :: Installer</h5>
  </div>
</nav>
<div class="bg-light p-3">
  <div class="row mx-3 align-items-center">
    <div class="col-2">
      <label for="releaseVersion" class="col-form-label">Release version</label>
    </div>
    <div class="col-2">
      <input type="text" class="form-control form-control-sm" id="releaseVersion" [(ngModel)]="configData['RELEASE']"
        [disabled]="showGenerated">
    </div>
  </div>
  <div class="row m-3">
    <div class="col-12">
      <small>There is no explicit validation for release version. This is used to pull the docker images from the
        registry. If the image doesn't exist in the docker registry then you will get an error while doing a
        <code>docker pull</code>
      </small>
    </div>
  </div>
  <app-config-form *ngIf="!showGenerated" [formData]="formData" [configData]="configData" [yamlsData]="yamlsData" (generate)="generateFiles()">
  </app-config-form>

  <app-install-scripts *ngIf="showGenerated" [formData]="formData" [configData]="configData" [yamlsData]="yamlsData" (back)="showGenerated=false">
  </app-install-scripts>

  <p class="m-3">
    <small>© Copyright 2022-2023, <a target="blank" href="https://www.datanimbus.com/">Datanimbus Technologies Pvt.
        Ltd</a></small>
  </p>
</div>